[core]
  autocrlf = input
  editor = rnvim --wait
  pager = less
  preloadindex = true
  fscache = true
  fsmonitor = true
  longpaths = true
[difftool]
  prompt = input
[merge]
  tool = rnvim -d
  conflictstyle = diff3
[mergetool]
  prompt = false
  keepBackup = false
[credential]
  helper = store
[rebase]
  autostash = true
  autosquash = true
[includeIf "hasconfig:remote.*.url:git@github.com:482F/*.git"]
  path = ./.gitconfig.d/private
